.logo img {
  width: 10%;
  padding: 5px;
}

.bg {
  background-image: url("../img/jumbo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  background-size: cover;
}
.beige {
  background-color: rgb(198, 198, 175);
}
.ac-bottom-0 {
  bottom: 10%;
}
