.logo img {
  width: 10%;
  padding: 5px;
}

.bg {
  background-image: url("../img/jumbo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  background-size: cover;
}
.beige {
  background-color: rgb(198, 198, 175);
}
.ac-bottom-0 {
  bottom: 10%;
}
.bg-2 {
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/**************OVERLAY*********************/
.overlay {
  opacity: 0.5;
  transition: transform 0.3s;
}
.overlay:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2);
  border-bottom: 1px solid blue;
}
/**************OVERLAY*********************/
#dark-blue {
  background-color: #161c3b;
}
.blue {
  background-color: #00439c;
}
.zoom {
  transition: ease 0.3s;
}
.zoom:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.margin {
  margin-right: 10px;
}
